@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Mandali&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');

:root{

    --brown:#272727;

    --grey:#3A4249;

    --lightgrey:#d1d2d6;

    --whitegrey:#a0a4a5;

    --green:#8AC02C;

}

*{

    margin:0;

    padding:0;

    box-sizing:border-box;

    font-family:'Poppins', sans-serif;

    text-decoration:none;

}

html{

    scroll-behavior:smooth;

}

main{

    width:100vw;

    height:100vh;

    overflow-y:scroll;

    overflow-x:hidden;

    padding-bottom:30px;

    background:var(--brown);

}

header {

  width: 100%;

  height: auto;

  padding: 10px 15px;

  display: flex;

  align-items: center;

  justify-content: space-between;

  transition: all 0.3s ease-in-out;

  position: relative;

  z-index: 1;

  will-change: transform;

}

.wrap{

  display: flex;

  align-items: center;

  justify-content: space-between;

}

#header-name {

  transition: all 0.4s ease-in-out;

  opacity: 0;

  font-weight:700;

  font-family: 'Nunito', sans-serif;

  font-size:19px;

  margin-left:10px;

}

.header-fixed {

  position: fixed;

  top: 0;

  left: 0;

  width: 100%;

  background:dodgerblue;

}

.header-fixed #header-name {

  opacity: 1;

}

header i.fa{

    padding:10px;

    font-size:20px;

    transition:.3s;

    border-radius:5px;

}

header i.fa:active{

    background:rgba(255,255,255,.15);

}

.basic_info{

    width:100%;

    height:auto;

    background:dodgerblue;

    padding-bottom:20px;

    color:#fff;

}

.profile_info{

    width:100%;

    height:auto;

    margin-top:20px;

    padding:10px;

}

.user_icon{

    width:160px;

    height:160px;

    border-radius:50%;

    background:white url(https://blob.sololearn.com/avatars/2b358d51-d013-4252-9754-ee21def38174.jpg);

    background-size:cover;

    box-shadow:10px 10px 15px rgba(0,0,0,.15), -10px -10px 15px rgba(0,0,0,.15);

    position:relative;

    display:flex;

    align-items:center;

    justify-content:center;

    font-size:55px;

    font-weight:bold;

    color:#fff;

}

.badge{

    width:60px;

    height:60px;

    border-radius:50%;

    position:absolute;

    bottom:0;

    font-size:14.5px;

    font-weight:500;

    right:3%;

    background-size:cover;

}

.user_name{

    font-size:19px;

    margin-top:20px;

    font-weight:500;

    font-family: 'Nunito', sans-serif;

}

.user_name i.fa{

    color:#fff;

    padding:3px;

    font-size:18px;

}

.user_name i.fa:active{

    background:rgba(255,255,255,.1);

}

.user_country_and_level{

    height:auto;

    width:100%;

    display:flex;

    align-items:center;

    font-size:16px;

    justify-content:center;

    padding:2px;

    margin-top:2px;

    font-family: 'Mandali', sans-serif;

}

.user_country{

    margin-left:10px;

}

.dot{

    font-size:18px;

    margin:0 2px;

    font-weight:bolder;

}

.fi{

    margin:0 -5px 0px 10px ;

    font-size:19px;

}

.user_bio{

    width:100%;

    height:auto;

    display:flex;

    align-items:center;

    justify-content:center;

    margin:2px 0px;

    font-size:15px;

    color:rgba(255,255,255,.7);

}

.user_follows{

    width:100%;

    height:auto;

    display:flex;

    align-items:center;

    justify-content:center;

}

.user_followers,.user_following{

    font-weight:500;

}

.fb{

    font-weight:600;

    font-family: 'Mandali', sans-serif;

}

.follow_message{

    display:flex;

    width:100%;

    align-items:center;

    justify-content:center;

    margin:5px 0;

    font-size:15px;

    margin-bottom:30px;

}

.follow,.message{

    margin:0 5px;

    padding:4px;

    width:110px;

    font-size:14px;

    transition:.2s;

}

.message:active{

    scale:.98;

}

.follow:active{

    scale:.98;

}

.follow{

    background:#8AC02C;

    border-radius:5px;

    color:#fff;

    box-shadow:0px 3px 3px rgba(0,0,0,.15);

}

.message{

    background:transparent;

    border-radius:5px;

    padding:2px;

    border:2px solid #fff;

}

.courses_learning{

    width:100%;

    height:300px;

    background:red;

}

.an{

    width:100%;

    height:auto;

    margin-top:-30px;

}

.recent_archievements{

    width:90%;

    height:auto;

    background:var(--grey);

    color:var(--lightgrey);

    border-radius:10px;

    margin:0 auto;

    position:relative;

    padding:10px 0px;

    padding-bottom:50px;

    overflow-x:hidden;

    box-shadow:0px 3px 3px rgba(0,0,0,.15);  

}

.archieve{

    height:auto;

    padding:10px 0;

    padding-top:0;

    width:100%;

}

.row1{

    width:100%;

    height:80px;

    display:flex;

    align-items:center;

    justify-content:center;

    display:none;

}

.row2{

    width:100%;

    height:80px;

    display:flex;

    align-items:center;

    justify-content:center;

    display:none;

}

.a_badge{

    width:65px;

    height:65px;

    background:blue;

    border-radius:10px;

    display:flex;

    align-items:center;

    justify-content:center;

    background-size:cover;

    margin:0 7px;

    padding:10px;

    transition:.1s;

}

.a_badge:active{

    scale:.96;

}

.courses_progress{

    width:90%;

    height:auto;

    background:var(--grey);

    color:var(--lightgrey);

    border-radius:10px;

    margin:0 auto;

    margin-top:20px;

    position:relative;

    padding:10px 0px;

    padding-bottom:40px;

    overflow-x:hidden;

    box-shadow:0px 3px 3px rgba(0,0,0,.15);  

}

.courseslist{

    width:100%;

    height:auto;

    padding:0px 15px 10px;

    padding-top:10px;

    display:flex;

    align-items:center;

    transition:.2s;

}

.courseslist:active{

    background:rgba(255,255,255,.1);

}

.crss{

    height:auto;

    padding:10px 0;

    padding-top:0;

}

.coursesicon{

    width:55px;

    height:55px;

    background:dodgerblue;

    background-size:cover;

    border-radius:50%;

    margin-right:10px;

}

.coursesname{

    font-size:16px;

}

.inprogress{

    font-size:13px;

    padding:2px;

    color:#a0a4a5;

}

.c_title{

    color:var(--whitegrey);

    width:100%;

    padding:5px 10px;

    font-size:14px;

    margin-left:10px;

}

.cert{

    margin-left:0;

}

.certificates{

    width:90%;

    height:auto;

    background:var(--grey);

    color:var(--lightgrey);

    border-radius:10px;

    margin:0 auto;

    overflow:hidden;

    padding:10px;

    margin-top:20px;

    box-shadow:0px 3px 3px rgba(0,0,0,.15),0px -2px 5px rgba(0,0,0,.1);  

}

.certified{

    width:100%;

    height:100%;

    display:flex;

    align-items:center;

    overflow:scroll;

    padding:10px 0;

}

.certificate{

    width:200px;

    height:auto;

}

.certificate_body{

    width:170px;

    height:100px;

    border-radius:10px;

    display:flex;

    align-items:center;

    justify-content:center;

    margin:0 10px;

    position:relative;

}

.certificate_body:before{

    content:"";

    width:20px;

    height:20px;

    border-radius:50%;

    background:lime url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT1UOV9Y3BYLmBmnIa8BWyK2q_zx7AeYl5FKA&usqp=CAU);

    background-size:cover;

    position:absolute;

    top:0;

    right:0;

    margin:-5px -5px 5px 5px;

}

.certificate_icon{

    width:60px;

    height:60px;

    border-radius:50%;

}

.certificate_name{

    width:100%;

    text-align:center;

    margin:0 auto;

    font-size:13px;

}

.codes{

    width:90%;

    height:auto;

    background:var(--grey);

    color:var(--lightgrey);

    border-radius:10px;

    margin:0 auto;

    overflow:hidden;

    padding:10px 0px;

    padding-bottom:40px;

    margin-top:20px;

    box-shadow:0px 3px 3px rgba(0,0,0,.15),0px -2px 5px rgba(0,0,0,.1);  

    position:relative;

}

.show_all{

    position:absolute;

    bottom:0;

    width:100%;

    display:flex;

    align-items:center;

    justify-content:center;

    border-top:.3px solid rgba(255,255,255,.13);

    color:dodgerblue;

    margin:0 auto;

    padding:10px;

    font-size:14;

    opacity:.8;

    transition:.2s;

}

.see_more{

    width:160px;

    margin:0 auto;

    height:33px;

    padding:5px;

    background:#4888c6;

    border-radius:5px;

    color:#fff;

    display:flex;

    font-size:13px;

    align-items:center;

    justify-content:center;

    position:absolute;

    bottom:2px;

    left:50%;

    transform:translate(-50%,-50%);

    transition:.2s;

    display:none;

    box-shadow:0px 3px 3px rgba(0,0,0,.15);

}

.see_more:active{

    opacity:.8;

    scale:.99;

}

.show_all:active{

    background:rgba(255,255,255,.1);

}

.user_codes{

    width:100%;

    height:100%;

    padding:10px 0px;

}

.codeicon{

    width:45px;

    height:45px;

    border-radius:5px;

    background:orange;

    display:flex;

    align-items:center;

    justify-content:center;

    color:#fff;

    font-size:13px;

    font-weight:bold;

}

.codename{

    font-size:15px;

    padding:5px 10px;

    font-family: 'Nunito', sans-serif;

    font-weight:bold;

}

.timeago{

    font-size:13px;

    font-weight:500;

    color:var(--whitegrey);

    padding:2px;

}

.all{

    width:100vw;

    height:100vh;

    display:none;

    position:fixed;

    overflow:scroll;

}

.head{

    width:100%;

    height:60px;

    padding:10px;

    background:dodgerblue;

    display:flex;

    align-items:center;

    color:#fff;

    font-size:17px;

    position:fixed;

}

.head i.fa{

    padding:10px;

    font-size:20px;

    transition:.2s;

    border-radius:5px;

}

.head i.fa:active{

    background:rgba(255,255,255,.15);

}

.c_name{

    margin:0 10px;

}

.full_courses{

    padding:5px 0;

    width:100%;

    padding-top:60px;

    display:none;

    background:var(--grey);

    color:var(--lightgrey);

}

.full_codes{

    padding:5px 0;

    width:100%;

    padding-top:60px;

    background:var(--grey);

    color:var(--lightgrey);

    display:none;

}

.progress_cont{

    width:100%;

    height:4.5px;

    border-radius:50px;

    background:lightgrey;

    margin-top:5px;

    overflow:hidden;

}

.progress_bar{

    background:#8AC02C;

    height:4.5px;

}

.f_coursename{

    font-size:16px;

    width:calc(100% - 70px);

}

.full_c_list{

    width:100%;

    height:80px;

    padding:0px 15px 10px;

    border-bottom:.3px solid rgba(255,255,255,.12);

    padding-left:10px;

    padding-top:10px;

    display:flex;

    align-items:center;

    transition:.3s;

}

.full_c_list:active{

    background:rgba(255,255,255,.1);

}

.f_courseicon{

    width:55px;

    height:55px;

    background:dodgerblue;

    background-size:cover;

    border-radius:50%;

    margin-right:10px;

}

.codeslist{

    width:100%;

    height:auto;

    padding:0px 15px 10px;

    padding-top:10px;

    display:flex;

    align-items:center;

    transition:.2s;

    border-bottom:.3px solid rgba(255,255,255,.12);

}

.codeslist:active{

    background:rgba(255,255,255,.12);

}

.follow_info{

    width:100%;

    height:45px;

    background:#323232;

    display:flex;

    align-items:center;

    color:#fff;

    font-size:14px;

    padding:10px;

    padding-left:20px;

    margin-bottom:0%;

    position:fixed;

    bottom:0%;

    animation:flow 3s linear ease-out;

    display:none;

    transition:1s;

}

@keyframes flow{

    0%{

        margin-bottom:-10%;

    }

    100%{

        margin-bottom:0%;

    }

}

.show_cert_c{

    width:100%;

    height:100%;

    background:rgba(0,0,0,.7);

    position:fixed;

    overflow:hidden;

    z-index:1000;

    top:0;

    display:flex;

    align-items:center;

    justify-content:center;

    display:none;

}

.show_cert{                    

    width:auto;

    height:auto;

    background:var(--grey);

    display:flex;

    align-items:center;

    justify-content:center;

    border-radius:10px;

    position:relative;

    overflow:hidden;

    padding:0 15px;

    padding-top:20px;

    padding-bottom:55px;

}

.exit{

    width:100%;

    height:40px;

    padding:10px;

    display:flex;

    align-items:center;

    justify-content:center;

    text-align:center;

    background:#8AC02C;

    color:#fff;

    font-size:15px;

    position:absolute;

    font-weight:bold;

    bottom:0;

}

.exit i.fa{

    padding:5px;

}

.certy{

    width:280px;

    height:200px;

    border-radius:8px;

}

.hider{

    display:none;

}

.welcome_cont{

    width:100vw;

    height:100%;

    position:fixed;

    top:0;

    left:0;

    background:#1d2124;

    color:#fff;

}

.w_head{

    width:100%;

    padding:10px;

    display:flex;

    align-items:center;

    justify-content:flex-end;

}

.skip{

    padding:10px;

    margin:5px;

    font-family: 'Ubuntu', sans-serif;

    background:var(--grey);

    border-radius:5px;

    font-size:14px;

    transition:.2s;

}

.skip:active{

    opacity:.7;

    scale:.97;

}

.solo_title{

    width:100%;

    height:auto;

    padding:10px;

    margin:0 auto;

    display:flex;

    line-height:2;

    align-items:center;

    justify-content:center;

}

.solo_logo{

    width:50px;

    height:50px;

    border-radius:50%;

    background:var(--grey) url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTfLYTopqsQZtCHuO225ojNf-wyrV_-66Te7Q&usqp=CAU);

    background-size:cover;

}

.solo_name{

    font-size:30px;

    font-weight:bold;

    margin:0 5px;

    font-family: 'Ubuntu', sans-serif;

}

.my_message{

    width:100%;

    height:auto;

    padding:10px;

    margin:0 auto;

    display:flex;

    align-items:center;

    justify-content:center;

    margin-top:25px;

}

.my_msg{

    font-size:25px;

    font-weight:bold;

    margin:0 5px;

    font-family: 'Ubuntu', sans-serif;

    text-align:center;

}

.mark{

    padding:3px 7px;

    font-style:normal;

    margin-top:10px;

    border-radius:5px;

    line-height:3;

    background:var(--green);

}

.id_input_cont{

    width:100%;

    height:auto;

    padding:10px;

    margin:0 auto;

    display:flex;

    margin-top:50px;

    align-items:center;

    justify-content:center;

}

.id_input{

    width:80%;

    padding:10px;

    font-family: 'Ubuntu', sans-serif;

    font-size:17px;

    border:none;

    outline:none;

    background:transparent;

    border-bottom:2px solid var(--grey);

    color:var(--lightgrey);

}

.id_input::placeholder{

    font-family: 'Ubuntu', sans-serif;

    font-size:16px;

    color:var(--whitegrey);

}

#proceed_btn{

    width:80%;

    padding:10px;

    font-family: 'Ubuntu', sans-serif;

    color:#fff;

    font-weight:bold;

    margin:0 auto;

    outline:none;

    border:none;

    border-radius:5px;

    background:var(--green);

    font-size:20px;

    transition:.05s ease-in;

}

#proceed_btn:active{

    scale:.98;

    background:#9BD731;

}

.proceed_cont{

    width:100%;

    height:auto;

    padding:10px;

    margin:0 auto;

    display:flex;

    align-items:center;

    justify-content:center;

}

#see_how{

    color:#93E800;

    font-family: 'Ubuntu', sans-serif;

}

.w_loader{

    width:100%;

    height:100%;

    background:rgba(0,0,0,.7);

    position:fixed;

    z-index:200;

    display:flex;

    align-items:center;

    z-index:300;

    top:0;

    justify-content:center;

}

.w_load{

    width:280px;

    height:180px;

    background:var(--grey);

    display:flex;

    border-radius:10px;

    align-items:center;

    justify-content:center;

}

.loader{

    width:60px;

    height:60px;

    border:5px solid var(--green);

    border-top-color:transparent;

    border-radius:50%;

    animation:rotate 1s linear infinite;

}

@keyframes rotate{

    0%{

        rotate:0deg;

    }

    100%{

        rotate:360deg;

    }

}

.err_msg{

    width:100%;

    height:auto;

    font-family: 'Ubuntu', sans-serif;

    margin:0 auto;

    text-align:center;

    color:red;

    font-size:15px;

    display:none;

}

.imgcont{

    width:100%;

    height:100%;

    position:fixed;

    top:0;

    left:0;

    z-index:300;

    padding:15px;

    background:rgba(0,0,0,.5);

    backdrop-filter:blur(5px);

    display:none;

}

.tthead{

    width:100%;

    padding:10px;

    display:flex;

    align-items:center;

    justify-content:flex-end;

}

.ttclose{

    font-size:16px;

    padding:5px;

    background:red;

    color:#fff;

    font-weight:bold;

    border-radius:5px;

}

#carsoul{

    width:70%;

    aspect-ratio:5.5/10;

    background:blue;

    border-radius:10px;

    opacity: 0;

    transition: opacity 0.5s ease-in-out;

}

#carsoul.show {

  opacity: 1;

}

.next,.prev{

    padding:10px;

    font-size:30px;

    font-weight:bolder;

    margin:10px;

    cursor:pointer;

}

.tnum{

    width:100%;

    padding:10px;

    padding-bottom:0;

    color:#fff;

    text-align:center;

    margin-top:20px;

    font-weight:bold;

    font-family: 'Nunito', sans-serif;

}

.tmsg{

    width:100%;

    padding:10px;

    color:#fff;

    text-align:center;

    font-family: 'Ubuntu', sans-serif;

    font-weight:bold;

    font-size:17px;

}

.tcont{

    width:100%;

    display:flex;

    align-items:center;

    color:#fff;

    justify-content:center;

    margin-top:40px;

}

@media screen and (min-width:728px){

    .recent_archievements,.courses_progress,.certificates,.codes{

        width:70%;

    }

    .certy{

        width:460px;

        height:330px;

        border-radius:16px;

    }

}
